@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-family: "Staatliches", cursive;
}
/* div {
  display: inline-block;
  position: relative;
} */

.wrapper {
  @apply bg-gray-800 hover:bg-gray-600 shadow-xl hover:shadow-none cursor-pointer w-60 rounded-3xl flex items-center justify-center;
}

.wrapperAnime {
  @apply transition-all duration-500 ease-in-out;
}

.header {
  @apply relative mt-2 mx-2;
}

.imageWrapper {
  @apply h-60 rounded-2xl w-12 relative pl-1;
}

.image {
  @apply object-cover w-full h-full rounded-md overflow-hidden;
}
/* 
.textWrapper {
  @apply pt-10 pb-6 w-full px-4;
} */

.text {
  @apply leading-none tracking-wider text-white bg-opacity-90 w-1.5 font-extrabold text-4xl rotate-90 flex flex-col pb-4;
}

.badgeWrapper {
  @apply absolute bottom-0 left-0 -mb-4 ml-3 flex flex-row;
}

.dangerBadge {
  @apply h-10 w-10  flex items-center justify-center text-xl bg-gray-800 hover:bg-red-500 text-red-500 hover:text-white rounded-2xl shadow-xl ease-in-out;
}

.primaryBadge {
  @apply h-10 w-16 ml-2 bg-white hover:bg-blue-600 flex items-center justify-center font-medium text-blue-600 hover:text-white rounded-2xl shadow-xl;
}

.counter {
  @apply text-gray-800 ml-2;
}
/* 
.badgeAnime {
  @apply transform-gpu translate-y-0 hover:-translate-y-1 transition-all duration-300 ease-in-out;
} */

.section {
  @apply bg-transparent mx-auto px-4 min-h-min md:h-min w-full m-4;
}

.containerTwo {
  @apply container mx-auto px-0 md:px-4 py-4;
}

.layout {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 justify-items-center gap-4;
}
