@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  font-family: "Staatliches", cursive;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}
